<div layout="column" ng-cloak="">
	<md-content layout-padding="">
		<form name="nominationForm">
			<!--<div layout="row" layout-align="space-between center">-->
			<md-input-container class="md-block">
				<md-select name="region" ng-model="nomination.region" placeholder="Choose region">
					<md-option ng-value="regionOption" ng-repeat="regionOption in regions">{{regionOption}}</md-option>
				</md-select>
				<div ng-messages="nominationForm.region.$error">
					<div ng-message="required">Region is required.</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block">
				<label for="resource">Resource:</label>
				<input type="text" name="resource" class="form-control" placeholder="Type of resource(e.g. oil)" ng-model="nomination.resource" required>
				<div ng-messages="nominationForm.resource.$error">
					<div ng-message="required">Resource is required.</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block">
				<label for="quantity">Quantity:</label>
				<input type="text" name="quantity" class="form-control" placeholder="Quantity of resource(e.g. 300)" ng-model="nomination.quantity" required>
				<div ng-messages="nominationForm.quantity.$error">
					<div ng-message="required">Quantity is required.</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block">
				<label for="unit">Unit:</label>
				<input type="text" name="unit" class="form-control" placeholder="Unit of quantity(e.g. bl)" ng-model="nomination.unit" required>
				<div ng-messages="nominationForm.unit.$error">
					<div ng-message="required">Unit is required.</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block">
				<md-select name="direction" ng-model="nomination.direction" placeholder="Choose direction">
					<md-option value="OFFER">Offer</md-option>
					<md-option value="DEMAND">Demand</md-option>
				</md-select>
				<div ng-messages="nominationForm.direction.$error">
					<div ng-message="required">Direction is required.</div>
				</div>
			</md-input-container>
			<md-input-container flex>
				<md-button class="md-secondary" ng-disabled="nominationForm.$invalid" ng-click="addNomination()">Add nomination</md-button>
			</md-input-container>
			<md-input-container flex>
				<!-- TODO disable if no nominations are available -->
				<md-button class="md-secondary" ng-disabled="nominationForm.$invalid || nominations === []" ng-click="submitNominations(nominations)">Submit nominations</md-button>
			</md-input-container>
		</form>
		<div ng-show="submittedNominationIds.length > 0">Submitted nominationids:
			<div ng-repeat="nominationId in submittedNominationIds track by $index">
				{{nominationId}}
			</div>
		</div>
		<md-table-container ng-show="nominations.length > 0">
			<table md-table>
				<thead md-head>
					<tr md-row>
						<th md-column>Region</th>
						<th md-column>Resource</th>
						<th md-column>Quantity</th>
						<th md-column>Demand/Offer</th>
					</tr>
				</thead>
				<tbody md-body>
					<tr md-row ng-repeat="nomination in nominations track by $index">
						<td md-cell>{{nomination.region}}</td>
						<td md-cell>{{nomination.resource}}</td>
						<td md-cell>{{nomination.quantity}} {{nomination.unit}}</td>
						<td md-cell>{{nomination.direction}}</td>
					</tr>
				</tbody>
			</table>
		</md-table-container>
	</md-content>
</div>
