<div layout="column" ng-cloak="">
	<md-content layout-padding="">
		<form>
			<md-input-container class="md-block">
				<label>Filter Region:</label>
				<input type="text" class="form-control" placeholder="Region contains" ng-model="resourceFilter.region">
			</md-input-container>
			<md-input-container class="md-block">
				<label>Filter Resource:</label>
				<input type="text" class="form-control" placeholder="Resource contains" ng-model="resourceFilter.resource">
			</md-input-container>
		</form>
	</md-content>
	<md-content layout-padding="">
		<table id="NominationsTable" class="md-hue-1">
			<thead>
				<tr>
					<th>Id</th>
					<th>Region</th>
					<th>Resource</th>
					<th>Quantity</th>
					<th>Demand/Offer</th>
					<th>Matched Resources</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="nomination in nominations | filter:resourceFilter | orderBy:['resource', '-quantity'] track by nomination.id">
					<td align="center">{{nomination.id}}</td>
					<td align="denter">{{nomination.region}}</td>
					<td align="center">{{nomination.resource}}</td>
					<td align="center">{{nomination.quantity}} {{nomination.unit}}</td>
					<td align="center">{{nomination.direction}}</td>
					<td align="center">{{nomination.matchedNominations.join(', ')}}</td>
				</tr>
			</tbody>
		</table>
	</md-content>
</div>